<p>Name: <%= @tamagotchi.name %></p>
<p>Hunger: <%= @tamagotchi.hunger %></p>
<p>Exhaustion: <%= @tamagotchi.exhaustion %></p>
<p>Boredom: <%= @tamagotchi.boredom %></p>

<form class="perform_action" action="/feed" method="post">
  <button type="submit" name="feed" id="feed">Feed</button>
</form>

<form class="perform_action" action="/rest" method="post">
  <button type="submit" name="rest" id="rest">Rest</button>
</form>

<form class="perform_action" action="/play" method="post">
  <button type="submit" name="play" id="play">Play</button>
</form>
