<div class="basic-screen">


  <h3>Your tamadotchi died</h3>
  <div id="return-home">

    <a href="/">Click here to start again and murder more small animals</a>
    <div id="quote">

      <br><h2>Momento Mori</h2>
      <a href="/">Plato's Phaedo, where the death of Socrates is recounted, introduces the idea that the proper practice of philosophy is "about nothing else but dying and being dead". The Stoics of classical antiquity were particularly prominent in their use of this discipline, and Seneca's letters are full of injunctions to meditate on death. The Stoic Epictetus told his students that when kissing their child, brother, or friend, they should remind themselves that they are mortal, curbing their pleasure, as do "those who stand behind men in their triumphs and remind them that they are mortal"</a>

    </div>
  </div>
</div>
