<form action="/start" method="post">

  <label>What is it's name?</label>
  <input type="text" name="name" placeholder="Dave">

  <button type="submit" name="button">Begin Tamagotchi!</button>

</form>
